== render 'sidenav'

main
  h4 Chat
  .welcome-greet
    p Start a conversation

== render 'sidebar'



/ .fluid-container 
/   .row
/     .col-sm-2
/       == render 'sidenav'
/     .col-sm-10
/       main
/         .row
/           .col-sm-9
/             h4 Chat
/             .welcome-greet
/               p Start a conversation
/           .col-sm-3
/             == render 'sidebar'




